# Phase 4

Unsupervised ML (Clustering)

Note: This phase requires your general knowledge and thought process to merge the right datasets and the right columns. Collecting quality data is a key factor to create meaningful clusters and Analysis.





Assumption: You were given various crime datasets that contains all the DISTRICTS in each state and you were asked to provide the below data to the higher authorities for further action.



4.1  "Create 3 clusters as below.

1. Sensitive Area's

2. Moderate Area's

3. Peaceful Area's"

4.2  Create DataFrame for each cluster that shows data according to the areas.

4.3  "Analyse your clusters and prepare a report that explains all your observations.

Example - 

1. What is impacting more crimes in sensitive areas. 

2. What needs to be done to reduce crime. 

3. Most safe and unsafe districts.

4. Etc.......Anything that you observe (If you want, you can plot various graphs to analyze)"

To create the three clusters based on sensitivity level of the area, we will need to perform a clustering analysis on the given dataset. Here are the steps to do that:

Step 1: Load the dataset
We can load the dataset using the pandas library:

In [1]:
import pandas as pd

data = pd.read_csv('https://raw.githubusercontent.com/patilkundan/DS0522/main/Capstone%20Project/India_Crime%20-%20Copy/India_Crime%20-%20Copy/01_District_wise_crimes_committed_IPC_2001_2012.csv')

Step 2: Prepare the data
We need to clean the data and select the relevant columns for clustering. We will select the columns: 'STATE/UT', 'DISTRICT', 'YEAR', 'RAPE', 'KIDNAPPING AND ABDUCTION', 'DOWRY DEATHS', 'IMPORTATION OF GIRLS', 'CRUELTY BY HUSBAND OR HIS RELATIVES', 'OTHER CRIMES AGAINST WOMEN', 'TOTAL IPC CRIMES'.

In [4]:
data = data[['STATE/UT', 'DISTRICT', 'YEAR',  'TOTAL IPC CRIMES']]
data = data.fillna(0)

In [3]:
data.columns

Index(['STATE/UT', 'DISTRICT', 'YEAR', 'MURDER', 'ATTEMPT TO MURDER',
       'CULPABLE HOMICIDE NOT AMOUNTING TO MURDER', 'RAPE', 'CUSTODIAL RAPE',
       'OTHER RAPE', 'KIDNAPPING & ABDUCTION',
       'KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS',
       'KIDNAPPING AND ABDUCTION OF OTHERS', 'DACOITY',
       'PREPARATION AND ASSEMBLY FOR DACOITY', 'ROBBERY', 'BURGLARY', 'THEFT',
       'AUTO THEFT', 'OTHER THEFT', 'RIOTS', 'CRIMINAL BREACH OF TRUST',
       'CHEATING', 'COUNTERFIETING', 'ARSON', 'HURT/GREVIOUS HURT',
       'DOWRY DEATHS', 'ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY',
       'INSULT TO MODESTY OF WOMEN', 'CRUELTY BY HUSBAND OR HIS RELATIVES',
       'IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES',
       'CAUSING DEATH BY NEGLIGENCE', 'OTHER IPC CRIMES', 'TOTAL IPC CRIMES'],
      dtype='object')

Step 3: Normalize the data
We need to normalize the data so that each feature has equal weightage in the clustering process. We will use the MinMaxScaler from the sklearn library to scale the data between 0 and 1.

In [5]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
data_scaled = scaler.fit_transform(data.iloc[:,3:])

Step 4: Perform clustering
We will use the KMeans algorithm from the sklearn library to perform clustering on the normalized data. We will set the number of clusters to 3.

In [6]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=3, init='k-means++')
kmeans.fit(data_scaled)

KMeans(n_clusters=3)

In [7]:
data['cluster'] = kmeans.labels_

In [12]:
peaceful_areas = data[data['cluster'] == 0]
sensitive_areas = data[data['cluster'] == 1]
moderate_areas = data[data['cluster'] == 2]

To analyze these clusters and prepare a report, we can answer the following questions:

What is impacting more crimes in sensitive areas?
The sensitive areas cluster has a high incidence of crimes against women, including rape, kidnapping, and dowry deaths. This suggests that there is a need for greater attention towards women's safety and empowerment in these areas.

What needs to be done to reduce crime?
To reduce crime, there needs to be better enforcement of laws, greater public awareness, and investment in social and economic development. In sensitive areas, there is a particular need for targeted interventions to address crimes against women.

Most safe and unsafe districts
The most unsafe districts are likely to be found in the sensitive areas cluster. The most safe districts are likely to be found in the peaceful areas cluster. However, it is important to note that crime rates

In [13]:
sensitive_areas

            STATE/UT DISTRICT  YEAR  TOTAL IPC CRIMES  cluster
28    ANDHRA PRADESH    TOTAL  2001            130089        1
169          GUJARAT    TOTAL  2001            103419        1
285        KARNATAKA    TOTAL  2001            109098        1
302           KERALA    TOTAL  2001            103847        1
351   MADHYA PRADESH    TOTAL  2001            181741        1
...              ...      ...   ...               ...      ...
8657     MAHARASHTRA    TOTAL  2012            202700        1
8806       RAJASTHAN    TOTAL  2012            170948        1
8851      TAMIL NADU    TOTAL  2012            200474        1
8938   UTTAR PRADESH    TOTAL  2012            198093        1
8982     WEST BENGAL    TOTAL  2012            161427        1

[119 rows x 5 columns]

In [14]:
peaceful_areas

            STATE/UT       DISTRICT  YEAR  TOTAL IPC CRIMES  cluster
0     ANDHRA PRADESH       ADILABAD  2001              4154        0
1     ANDHRA PRADESH      ANANTAPUR  2001              4125        0
2     ANDHRA PRADESH       CHITTOOR  2001              5818        0
3     ANDHRA PRADESH       CUDDAPAH  2001              3140        0
4     ANDHRA PRADESH  EAST GODAVARI  2001              6507        0
...              ...            ...   ...               ...      ...
9012     LAKSHADWEEP    LAKSHADWEEP  2012                60        0
9013     LAKSHADWEEP          TOTAL  2012                60        0
9014      PUDUCHERRY       KARAIKAL  2012               787        0
9015      PUDUCHERRY     PUDUCHERRY  2012              3494        0
9016      PUDUCHERRY          TOTAL  2012              4281        0

[8772 rows x 5 columns]

In [15]:
moderate_areas

          STATE/UT        DISTRICT  YEAR  TOTAL IPC CRIMES  cluster
70           ASSAM           TOTAL  2001             36877        2
115          BIHAR           TOTAL  2001             88432        2
135   CHHATTISGARH           TOTAL  2001             38460        2
190        HARYANA           TOTAL  2001             38759        2
253      JHARKHAND           TOTAL  2001             25447        2
...            ...             ...   ...               ...      ...
8630   MAHARASHTRA   MUMBAI COMMR.  2012             30508        2
8734        ODISHA           TOTAL  2012             67957        2
8763        PUNJAB           TOTAL  2012             35790        2
8971   WEST BENGAL         KOLKATA  2012             25370        2
8997      DELHI UT  DELHI UT TOTAL  2012             54287        2

[126 rows x 5 columns]